body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1 {
  text-align: center;
}

.column {
  text-align: center;
  padding: 30px;
}

.right{
  width: 30%;
  float: right;
  
}

.left{
  width: 30%;
  float: left;
}
.center{
  width: 30%;
  display: inline-block;
}

img {
  width: 50%;
  height: auto;
  margin: auto;
  display: block;
}